{% extends "base.html" %}

{% block content %}

{% if wishlists.count == 0 %}
<div class="form-row text-center">
    <div class="col-12">
        <br><br><br><br><br><br><br><br><br>
        <a href="{% url 'wishlist-create' %}"><button type="submit" class="btn btn-secondary border-dark btn-lg">Create Your First Wishlist</button></a>
    </div>
</div>
{% else %}
<br><h1 align="center"><strong>Your Wishlists</strong></h1><br>
<div class="row">
{% for wishlist in wishlists %}
<div class="col-sm-3">
	<div class="card border-secondary mb-3 rounded-10">
		<div class="card-body">
			<h5 class="card-title text-center">{{wishlist.title}}</h5>
            <div class="card-body text-center">
			<a href="{% url 'wishlist-detail' wishlist.id %}" class="btn btn-secondary">View</a>
            <a href="{% url 'wishlist-delete' wishlist.id %}" class="btn btn-secondary">Delete</a>
            </div>
		</div>
	</div>
</div>
	{% endfor %}

</div>
<div class="form-row text-center">
    <div class="col-12">
        <br><br><br><br><br><br><br><br><br>
        <a href="{% url 'wishlist-create' %}"><button type="submit" class="btn btn-secondary btn-lg">Create Another Wishlist</button></a>
    </div>
</div>
{% endif %}
{% endblock content %}
